ul {
  position: fixed;
  background-color: #000;
  width: 100%;
  display: block;
  top: 0;
  margin-bottom: 80px;
}

li {
  width: 20%;
  display: inline-block;
  margin-left: -4px;
  padding: 10px 0;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin-top: 100px;
}
